body{
  
	font-family: 'Montserrat', sans-serif;
}
.me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.social {
  text-align: center;
  font-size: 2.5em;
  color: white;
  overflow: hidden;
}
.social a {
  color: inherit;
  text-decoration: none;
}
.social i {
  margin: .3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
.social i:hover {
  margin-top: -1px;
}
.social i#twitter:hover {
  color: #77DDF6;
}
.social i#github:hover {
  color: black;
}
.social i#linkedin:hover {
  color: #0177B5;
}
.social i#google:hover {
  color: #D43402;
}
.social i#mail:hover {
  color: #F7B401;
}
.social i#facebook:hover {
  color: #3b5998;
}
.social i#youtube:hover {
  color: #c4302b;
}
.social i#skype:hover {
  color: #00aff0;
}
#about{
	margin: 170px auto;
}
#about p{
	text-align: center;
	color: white;
}

.skills i{
  font-size: 120px;
}
.b{
display: inline-block;
}
.a{
  display: none;
  position: absolute;
}
.ico:hover .b{
display: none;
}
.ico:hover .a{
  display: inline;
}
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="number"],
.contact textarea {
  border: none;
  border-bottom: 1px solid black;
  font: 300 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  min-width: 100%;
  padding: 19px;
}
.contact textarea {
  margin-top: 12px;
  height: 120px;
  padding: 16px;
  resize: none;
}
.contact input[type="submit"] {
  border: 1px solid black;
  border-radius: 25px;
  width: 120px;
  height: 46px;
  background-color: #2b2b2b;
  color: #dbdbdb;
  cursor: pointer;
  font: bold 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.contact .send {
  margin-top: 44px;
  text-align: center;
}
input:focus{
border: none !important;
}