/**********************************************************************************

	Project Name: Personal Website
	Project Description: Someting about me
	Author: Hardik Jain
	Author URI: http://hardikjain.com
	Version: 1.0.0
	
**********************************************************************************/
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/***********************************************************************************************/
/* GENERAL */
/***********************************************************************************************/
.heading {
  text-align: center;
  margin-top: 48px;
}
body {
  background-color: #262626;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.arr {
  overflow: hidden;
}
.name{
  font-size: 18px;
}
/***********************************************************************************************/
/* ABOUT */
/***********************************************************************************************/
#about {
  margin: 190px auto;
}
#about p {
  text-align: center;
  color: white;
}
#about .me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
#about .social {
  text-align: center;
  font-size: 2.5em;
  color: white;
  overflow: hidden;
}
#about .social a {
  color: inherit;
  text-decoration: none;
}
#about .social i {
  margin: .3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
#about .social i:hover {
  margin-top: -1px;
}
#about .social #twitter:hover {
  color: #77DDF6;
}
#about .social #github:hover {
  color: black;
}
#about .social #linkedin:hover {
  color: #0177B5;
}
#about .social #google:hover {
  color: #D43402;
}
#about .social #mail:hover {
  color: #F7B401;
}
#about .social #facebook:hover {
  color: #3b5998;
}
#about .social #youtube:hover {
  color: #c4302b;
}
/***********************************************************************************************/
/* SKILLS */
/***********************************************************************************************/
.skills {
  text-align: center;
  background-color: #e6e6e6;
}
.skills .s {
  color: #29FF91;
}
.skills .heading {
  padding-top: 20px;
}
.skills i {
  font-size: 100px;
}
.skills .b {
  display: inline-block;
}
.skills .a {
  display: none;
  position: relative;
}
.skills .ico {
  margin-top: 15px;
  padding: 20px;
  float: center;
}
.skills .ico:hover {
  cursor: pointer;
}
.skills .ico:hover .b {
  display: none;
}
.skills .ico:hover .a {
  display: inline;
}
/***********************************************************************************************/
/* RESUME */
/***********************************************************************************************/
.resume {
  background-color: #0993c7;
  padding: 35px !important;
}
.resume p {
  font-size: 28px;
}
.resume i {
  font-size: 45px;
}
.resume .btn {
  border: 1px solid black;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  background-color: #2b2b2b;
  color: #dbdbdb;
  cursor: pointer;
  font: bold 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.resume .btn:hover {
  background-color: #82b919;
  color: black;
}
.resume .btn:active {
  background-color: #242e37;
}
.resume .btn.active {
  background-color: white;
  font-weight: bold;
}
.resume .btn.active:hover {
  color: inherit;
}
/***********************************************************************************************/
/* WORK */
/***********************************************************************************************/
.work {
  background-color: #3AFFF9;
  text-align: center;
}
.work p {
  font-size: 15px;
  padding-top: 14px;
}
.work li{
  list-style-type: none;
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
}
.work li.active{
  color: #2b2b2b;
  font-weight: 900 !important;
  text-decoration: none;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #1EFF0A;
}
.work a{
  font-size: 24px;
}
/***********************************************************************************************/
/* CONTACT */
/***********************************************************************************************/
.contact {
  background-color: #F5FAF9;
}
.contact p {
  text-align: center;
}
.contact input,
.contact textarea {
  background-color: #F5FAF9;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="number"],
.contact textarea {
  border: none;
  border-bottom: 1px solid black;
  font: 300 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  min-width: 100%;
  max-width: 100%;
  padding: 19px;
}
.contact textarea {
  margin-top: 12px;
  height: 120px;
  padding: 16px;
  resize: none;
}
.contact input[type="submit"] {
  border: 1px solid black;
  border-radius: 25px;
  width: 120px;
  height: 46px;
  background-color: #2b2b2b;
  color: #dbdbdb;
  cursor: pointer;
  font: bold 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.contact input[type="submit"]:hover {
  background-color: #F5FAF9;
  color: black;
}
.contact .send {
  margin-top: 44px;
  text-align: center;
  margin-bottom: 40px;
}
/***********************************************************************************************/
/* FOOTER */
/***********************************************************************************************/
footer {
  background-color: #002625;
  padding: 40px;
  text-align: center;
  color: white;
}
/* Medium Layout: 1280px. */
/* Tablet Layout: 768px. */
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .resume i {
    display: none;
  }
}
/* Wide Mobile Layout: 480px. */
