/**********************************************************************************

	Project Name: Personal Website
	Project Description: Someting about me
	Author: Hardik Jain
	Author URI: http://hardikjain.com
	Version: 1.0.0
	
**********************************************************************************/
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/***********************************************************************************************/
/* GENERAL */
/***********************************************************************************************/
.heading {
  text-align: center;
  margin-top: 48px;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.arr {
  overflow: hidden;
}
.name{
  font-size: 42px;
  line-height: 1.5;
}
/***********************************************************************************************/
/* ABOUT */
/***********************************************************************************************/
#about {
  margin: 190px auto;
}
#about .me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
#about .social {
  font-size: 2.5em;
  overflow: hidden;
}
#about .social a {
  color: black;
  text-decoration: none;
}
#about .social i {
  margin: .3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
#about .social i:hover {
  margin-top: -1px;
}
#about .social #twitter:hover {
  color: #77DDF6;
}
#about .social #github:hover {
  color: black;
}
#about .social #linkedin:hover {
  color: #0177B5;
}
#about .social #google:hover {
  color: #D43402;
}
#about .social #mail:hover {
  color: #F7B401;
}
#about .social #facebook:hover {
  color: #3b5998;
}
#about .social #youtube:hover {
  color: #c4302b;
}
/***********************************************************************************************/
/* SKILLS */
/***********************************************************************************************/
.ico{
  margin-bottom: 25px;
}

.skills {
  text-align: center;
  background-color: #e6e6e6;
}
.skills .s {
  color: #29FF91;
}
.skills .heading {
  padding-top: 20px;
}
.skills i {
  font-size: 100px;
}
.skills .b {
  display: inline-block;
}
.skills .a {
  display: none;
  position: relative;
}
.skills .ico {
  margin-top: 15px;
  padding: 20px;
  float: center;
}
.skills .ico:hover {
  cursor: pointer;
}
.skills .ico:hover .b {
  display: none;
}
.skills .ico:hover .a {
  display: inline;
}
/***********************************************************************************************/
/* RESUME */
/***********************************************************************************************/
.resume {
  background-color: #0993c7;
  padding: 35px !important;
}
.resume p {
  font-size: 28px;
}
.resume i {
  font-size: 45px;
}
.resume .btn {
  border-radius: 25px;
  width: 120px;
  height: 40px;
  background-color: white;
  color: gray;
  cursor: pointer;
  font: bold 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.resume .btn:hover {
  background-color: #82b919;
  color: black;
}
.resume .btn:active {
  background-color: #242e37;
}
.resume .btn.active {
  background-color: white;
  font-weight: bold;
}
.resume .btn.active:hover {
  color: inherit;
}
.t{
  color: white;
}
/***********************************************************************************************/
/* WORK */
/***********************************************************************************************/
.work {
  background-color: white;
  text-align: center;
}
.work p {
  font-size: 15px;
  padding-top: 14px;
}
.work li{
  list-style-type: none;
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
}

.work .effect-sarah{
  margin-top: 25px;
}

.work li.active{
  color: white;
  font-weight: 900 !important;
  text-decoration: none;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #0993c7;
}
.work a{
  font-size: 24px;
}

.selector{
  margin-bottom: 40px;
}

.competitive{
  margin-bottom: 60px;
  margin-top:-45px !important;
}

.mainmenu{
  margin-bottom: 35px;
  margin-top:25px;
}
/***********************************************************************************************/
/* CONTACT */
/***********************************************************************************************/
iframe .button-wrapper {
  display: none !important;
}
/***********************************************************************************************/
/* FOOTER */
/***********************************************************************************************/
footer {
  background-color: #002625;
  padding: 40px;
  text-align: center;
  color: white;
}
/* Medium Layout: 1280px. */
/* Tablet Layout: 768px. */
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .resume i {
    display: none;
  }
}
/* Wide Mobile Layout: 480px. */

.case-study {
  position: relative;
  height: 100%;
  width: 100%;
}
.case-study img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.case-study-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(0,0,0,0.75);
}

.case-study:hover .case-study-overlay{
  display: flex;
}
.case-study-overlay a {
  background: white;
  color: black;
  opacity: 0.9;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
}
.case-study-overlay a:hover {
  opacity: 1;
  transition: all 0.2s ease;
}


.header {
  margin-top: 1%;
  position: relative;
}

.header-title {
  position: absolute;
  flex-direction: row;
  left: 2%;
  padding: 20px;
  top: 90%;
  width: 50%;
  height: 15%;
  z-index: 2;
  background: white;
}

.header-title h1 {
  font-size: 40px;
}

.header-title p {
  font-size: 16px;
}

.banner-img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

#screenshot {
  margin-top: 20%;
}

#screenshot img {
  width: 100%;
  margin-bottom: 15%;
}

.long-desc {
  line-height: 1.5;
  font-size: 14px;
}

.long-desc p {
  margin-bottom: 40px;
}

.launch {
  text-align: center;
}


.card h4 {
  font-size: 48px;
}
section {
  margin-bottom: 40px;
}
#brief h3 {
  font-size: 16px;
  color: grey;
}
#brief .stats {
  margin-bottom: 40px;
}

#brief .stats:last-of-type {
  margin-bottom: 0px;
}


#brief h5 {
  font-size: 28px;
}

.long-desc p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.618;
  letter-spacing: -0.002em;
  font-weight: 400;
  max-width: 800px;
}
#long h3 {
  font-size: 16px;
  color: grey;
}

.case-study--button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: default;
    background-color: #52B4E3;
    width: auto;
    height: 60px;
    line-height: 1;
    padding: 0px 20px 0 20px;
    font-size: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-family: "Karla","Helvetica Neue",sans serif;
    max-width: 610px;
    min-width: 240px;
    overflow: hidden;
    margin: 40px 0;
    text-decoration: none;
    -moz-transition: background-color ease-out 100ms 0ms;
    -webkit-transition: background-color ease-out 100ms 0ms;
    -o-transition: background-color ease-out 100ms 0ms;
    transition: background-color ease-out 100ms 0ms;
    color: #125270;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1);
}
.case-study--button:hover {
  text-decoration: none;
  cursor: pointer;
}