.button {
    width: 200px;
    height: 60px;
    align-items: center;
}

.hero-cta__start {
	text-align: left !important;
	-webkit-clip-path: polygon(100% 0, 100% 71%, 91% 100%, 0 99%, 0 0);
	clip-path: polygon(100% 0, 100% 71%, 91% 100%, 0 99%, 0 0);
	transition: all 0.35s ease;
	letter-spacing: -0.0085em;
	font-size: rem(20px);
	margin-bottom: 4em;
	&:hover {
		color: black !important;
		background: white !important;
		transition: all 0.1s ease;
	}
}

.hero-cta__how {
	text-align: left !important;
	transition: all 0.35s ease;
	letter-spacing: -0.0085em;
	font-size: rem(20px);
	margin-bottom: 4em;
	&:hover {
		color: black !important;
		background: white !important;
		transition: all 0.1s ease;
	}
}