/*------------------------------------*    #UTILS - Color Variables
\*------------------------------------*/
.text-center {
  text-align: center !important; }

.center {
  margin: 0 auto !important; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fafafa; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

section {
  overflow-x: hidden; }

@font-face {
  font-family: "Larsseit W01_n2";
  src: url("../assets/fonts/5ab6cba9-bca7-40b7-8dd7-c56e46e0ad19.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/5ab6cba9-bca7-40b7-8dd7-c56e46e0ad19.eot?#iefix");
  src: url("../assets/fonts/5ab6cba9-bca7-40b7-8dd7-c56e46e0ad19.eot?#iefix") format("eot"), url("../assets/fonts/b54aa241-5288-47f9-a593-9cf0b7f5e4f6.woff2") format("woff2"), url("../assets/fonts/68a979fc-34d5-4f1c-bda6-bf5c4374208c.woff") format("woff"), url("../assets/fonts/e017088c-0f3f-4ae2-ab5c-083628688743.ttf") format("truetype"), url("../assets/fonts/0b3253d0-c6a7-4da2-a943-ab64c9876c9c.svg#0b3253d0-c6a7-4da2-a943-ab64c9876c9c") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Larsseit W01_n2";
  src: url("../assets/fonts/ef431dac-7ccf-48f9-ab0d-76b9c4bdb21a.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/ef431dac-7ccf-48f9-ab0d-76b9c4bdb21a.eot?#iefix");
  src: url("../assets/fonts/ef431dac-7ccf-48f9-ab0d-76b9c4bdb21a.eot?#iefix") format("eot"), url("../assets/fonts/63e41261-c59d-42db-86b7-99a32ec9a605.woff2") format("woff2"), url("../assets/fonts/c0cd4f71-5a0a-4aa1-83a6-1ba625a9bc8f.woff") format("woff"), url("../assets/fonts/e4efd1fb-0533-4b0c-adad-7727c9ce68e0.ttf") format("truetype"), url("../assets/fonts/15304154-ab84-45eb-b5d5-239a94fa882f.svg#15304154-ab84-45eb-b5d5-239a94fa882f") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Larsseit W01_n4";
  src: url("../assets/fonts/43eef420-7d5f-467b-aaa4-4378263e4b2f.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/43eef420-7d5f-467b-aaa4-4378263e4b2f.eot?#iefix");
  src: url("../assets/fonts/43eef420-7d5f-467b-aaa4-4378263e4b2f.eot?#iefix") format("eot"), url("../assets/fonts/80a66009-a870-4c7f-ae60-07d9973fae73.woff2") format("woff2"), url("../assets/fonts/5bef20e3-acd2-4071-9927-ef1b73940ffd.woff") format("woff"), url("../assets/fonts/9f5df1b6-90d7-4185-b5a3-ba901af8a72a.ttf") format("truetype"), url("../assets/fonts/f9f7793b-057d-4c15-a973-b57ac67b6ad3.svg#f9f7793b-057d-4c15-a973-b57ac67b6ad3") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Larsseit W01_i4";
  src: url("../assets/fonts/7e224e5f-5ec8-493b-922c-75f8c2b0b0ec.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/7e224e5f-5ec8-493b-922c-75f8c2b0b0ec.eot?#iefix");
  src: url("../assets/fonts/7e224e5f-5ec8-493b-922c-75f8c2b0b0ec.eot?#iefix") format("eot"), url("../assets/fonts/61599f33-8ccf-482d-9117-bfb22b7c0ffc.woff2") format("woff2"), url("../assets/fonts/108e892a-b208-4d69-ac18-799398459d5f.woff") format("woff"), url("../assets/fonts/be32d236-ab8a-48b1-b02d-d01e0c7d70b3.ttf") format("truetype"), url("../assets/fonts/bb786cf6-629b-4111-8433-e347368c0b21.svg#bb786cf6-629b-4111-8433-e347368c0b21") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Larsseit W01_n5";
  src: url("../assets/fonts/7c18e6f0-ae7b-4e5d-87e6-b5b3b0ec2d73.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/7c18e6f0-ae7b-4e5d-87e6-b5b3b0ec2d73.eot?#iefix");
  src: url("../assets/fonts/7c18e6f0-ae7b-4e5d-87e6-b5b3b0ec2d73.eot?#iefix") format("eot"), url("../assets/fonts/35585918-70df-42bb-af94-a863449eb643.woff2") format("woff2"), url("../assets/fonts/7e733478-69ef-4b99-801d-73bf3528ce30.woff") format("woff"), url("../assets/fonts/da7f18e4-cdc2-44bf-acb6-a89a2f1b51c9.ttf") format("truetype"), url("../assets/fonts/1a3e172f-7624-43a0-a942-fd569d66d767.svg#1a3e172f-7624-43a0-a942-fd569d66d767") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Larsseit W01_n7";
  src: url("../assets/fonts/a19695b2-589f-4b08-94f5-2505a4c8631d.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/a19695b2-589f-4b08-94f5-2505a4c8631d.eot?#iefix");
  src: url("../assets/fonts/a19695b2-589f-4b08-94f5-2505a4c8631d.eot?#iefix") format("eot"), url("../assets/fonts/32270e9c-145a-492e-9d13-f0971893dd96.woff2") format("woff2"), url("../assets/fonts/7d211f36-d7b9-4625-a3e9-4bec9e5f4737.woff") format("woff"), url("../assets/fonts/de717994-6d9f-487a-b686-1322aa474cd0.ttf") format("truetype"), url("../assets/fonts/5d9c16c5-fe21-4990-a597-a79b932422e5.svg#5d9c16c5-fe21-4990-a597-a79b932422e5") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Larsseit W01_i7";
  src: url("../assets/fonts/900d5cff-ba75-41ce-8aec-571b885b809c.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Larsseit W01";
  src: url("../assets/fonts/900d5cff-ba75-41ce-8aec-571b885b809c.eot?#iefix");
  src: url("../assets/fonts/900d5cff-ba75-41ce-8aec-571b885b809c.eot?#iefix") format("eot"), url("../assets/fonts/e508ae23-a390-4109-942c-1d44a578cae5.woff2") format("woff2"), url("../assets/fonts/fd046cac-8eb5-4a11-9873-f6b38bde3fc4.woff") format("woff"), url("../assets/fonts/c39d196f-e632-4f14-91bd-54e706cda5f5.ttf") format("truetype"), url("../assets/fonts/4b13fdb1-6ca8-49ac-a52b-acc51747133a.svg#4b13fdb1-6ca8-49ac-a52b-acc51747133a") format("svg");
  font-weight: 700;
  font-style: italic; }

/*------------------------------------*    # Simple Typography Settings
\*------------------------------------*/
body {
  font-size: 14px; }
  @media (min-width: 800px) {
    body {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 20px; } }

/*------------------------------------*    # Type
\*------------------------------------*/
*, html, body {
  font-size: 16px;
  font-family: "Larsseit W01", "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
  color: #140C42;
  font-family: "Larsseit W01", "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.333em;
  font-weight: 400;
  text-align: left;
  font-family: "Larsseit W01", "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: normal; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  font-weight: 700;
  font-style: normal; }
  @media (min-width: 800px) {
    h1 {
      font-size: 64px; } }
  @media (min-width: 1000px) {
    h1 {
      font-size: 48px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 42px; } }
  h1 span {
    color: #FFF33B; }

h2 {
  font-size: 2.30769rem;
  font-weight: 700;
  line-height: normal;
  font-size: 24px; }
  @media (min-width: 800px) {
    h2 {
      font-size: 26px; } }
  @media (min-width: 1000px) {
    h2 {
      font-size: 28px; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  font-size: 24px; }
  @media (min-width: 800px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 1.76471rem;
  font-weight: light;
  line-height: normal;
  font-size: 20px; }
  @media (min-width: 800px) {
    h4 {
      font-size: 24px; } }

h5 {
  font-size: 1.66667rem;
  font-weight: bold;
  line-height: normal;
  font-family: "Larsseit W01", "Larsseit", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #7D849E; }
  @media (min-width: 800px) {
    h5 {
      font-size: 16px; } }

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase; }
  @media (min-width: 800px) {
    h6 {
      font-size: 16px; } }

p {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #819299;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  font-size: 14px;
  color: #344266; }
  p:first-of-type {
    margin-top: 0; }
  @media (min-width: 800px) {
    p {
      line-height: 30px;
      font-size: 16px;
      letter-spacing: -0.004em; } }
  @media (min-width: 1000px) {
    p {
      font-size: 48px; } }
  @media (min-width: 1200px) {
    p {
      font-size: 64px; } }

a {
  color: #4eaff6;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (min-width: 800px) {
    a {
      line-height: 26px;
      font-size: 16px; } }
  @media (min-width: 1000px) {
    a {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    a {
      font-size: 16px; } }
  a:hover {
    color: #FF4E00 !important;
    cursor: pointer !important; }
  a i {
    background-image: url(fallback.png);
    background-image: url("../assets/img/icons/arrow-icon.svg"), none;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.35rem;
    margin-left: 1rem; }

.primary-link {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #4eaff6; }
  .primary-link--orange {
    border-bottom: 2px solid #FF4E00;
    margin-top: 2rem !important; }

.primary-link--arrow {
  color: #FF4E00 !important;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: -0.0085em;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .primary-link--arrow i {
    background-image: url(fallback.png);
    background-image: url("../assets/img/icons/arrow-orange.svg"), none;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.35rem;
    margin-left: 1rem;
    z-index: 2; }

ul, ol {
  margin: 20px 0 0 20px; }
  ul li, ol li {
    margin-top: 10px;
    line-height: 1.5em;
    color: #819299; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }

ul li {
  list-style: none;
  line-height: 33px;
  font-size: 16px;
  letter-spacing: -0.005em; }

ul ul li {
  list-style: none; }

ol li {
  list-style: none;
  line-height: 33px;
  font-size: 16px;
  letter-spacing: -0.005em; }

hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #DADADA; }

blockquote {
  margin: 30px 0;
  color: #FF4E00;
  text-align: center;
  font-style: normal !important;
  font-weight: 500;
  line-height: 1.9375rem;
  font-size: 1.125rem;
  letter-spacing: -0.02em; }

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse; }

table, td, th {
  border: 1px solid #DADADA;
  text-align: left; }

th {
  font-weight: 800; }

th, td {
  padding: 15px; }

figure {
  margin: 30px 0; }
  figure img {
    margin: 0; }

figcaption {
  margin-top: 10px;
  color: #9daab0;
  font-size: 16px; }

pre {
  display: block;
  margin: 0 0 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #DADADA;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  pre code {
    position: static;
    padding: 0;
    border: none;
    line-height: 1.5em; }

code {
  position: relative;
  top: -0.2em;
  padding: 3px;
  font-family: Courier New, Courier, monospace;
  font-size: 0.71429rem;
  color: #747474;
  line-height: 1em;
  pointer-events: none;
  border: 1px solid #DADADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

em, i, .italic {
  font-style: italic; }

strong, b, .bold {
  font-weight: 800; }

img {
  display: block;
  max-width: 100%;
  margin: 30px 0; }

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-0 {
  margin-left: 0; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-0 {
    margin-left: 0; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.header {
  display: flex;
  position: fixed;
  background: 0;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  z-index: 10;
  top: 0;
  left: 0;
  height: 70px; }
  .header ul {
    margin: 0;
    padding: 0; }
  .header li {
    display: inline;
    margin-left: 2em;
    font-size: 0.75em;
    text-transform: uppercase; }
    .header li a {
      color: white; }
      .header li a:hover {
        color: #140C42; }
  .header__menu {
    display: none; }
  .header__mobile__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .header__mobile--close {
    display: none; }
  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: space-between; }
    .header__wrapper--mobile {
      justify-content: space-between; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1; }
  .header__center {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex: 1; }
    .header__center ul {
      margin: 0 auto; }
      .header__center ul li a {
        padding-bottom: 1.5rem !important;
        border-bottom: 2px solid transparent !important; }
        .header__center ul li a:hover {
          color: white !important;
          border-bottom: 2px solid white !important; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo img {
      height: auto;
      width: auto;
      max-height: 60px;
      margin: 0; }
  .header-link {
    font-size: 0.75rem; }
    .header-link__influencers-login {
      padding: 0.625rem 0.9375rem;
      background-color: white;
      color: #FF4E00 !important;
      border-radius: 2px;
      letter-spacing: -0.025em; }
    .header-link__login {
      padding: 0.625rem 0.9375rem;
      background-color: #FFF33B;
      color: black !important;
      border-radius: 2px;
      letter-spacing: 0em; }
  .header__right {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    width: 100%; }
  .header--desktop {
    display: none; }
  .header--mobile {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
    height: initial;
    justify-content: space-between;
    padding-top: 0rem;
    border: none; }
    .header--mobile__left, .header--mobile__right {
      display: flex;
      justify-content: center;
      flex: 1; }
    .header--mobile__right {
      justify-content: flex-end; }
    .header--mobile__menu__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 1rem 2rem; }
    .header--mobile__menu {
      display: none;
      width: 100%;
      height: 100%;
      padding-top: 4rem; }
      .header--mobile__menu ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start; }
        .header--mobile__menu ul li {
          padding: 0rem;
          margin: 1rem 0rem; }
          .header--mobile__menu ul li a {
            font-size: 1.25rem;
            margin-bottom: 1rem;
            padding: 1rem 2rem; }
  @media (min-width: 800px) {
    .header {
      max-width: 100%;
      overflow: hidden; }
      .header__wrapper {
        padding: 0 1rem; }
      .header__right {
        display: flex; }
      .header--desktop {
        display: flex; }
      .header--mobile {
        display: none; } }

/* Icon 1 */
#nav-icon1 {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-mob {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 10px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.header--mobile__menu.open {
  display: flex; }

body.opened-drawer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0; }

.mobile__link--primary {
  background: #FFF33B;
  padding: 2rem !important;
  margin-bottom: 0rem !important; }
  .mobile__link--primary a {
    color: black !important;
    padding: 0rem !important; }

.mobile__link--secondary {
  background: white;
  padding: 2rem !important;
  margin: 0rem !important; }
  .mobile__link--secondary a {
    color: black !important;
    padding: 0rem !important; }

.footer {
  display: flex;
  flex-direction: column;
  background: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  z-index: 14;
  bottom: 0;
  margin: 0 auto;
  text-align: left;
  color: #344266; }
  .footer h2 {
    text-align: left; }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  .footer__left {
    display: flex;
    flex-direction: row;
    font-size: 0.85rem;
    color: #344266;
    flex: 1;
    width: 80%; }
    @media (min-width: 800px) {
      .footer__left {
        margin-left: 14rem;
        padding-bottom: 6rem; } }
  .footer__right {
    margin-bottom: 6rem; }
    .footer__right__contact {
      margin-top: 3rem; }
    .footer__right__address {
      margin-top: 3rem;
      line-height: 1.7; }
    .footer__right__social {
      margin-top: 3rem; }
    @media (min-width: 800px) {
      .footer__right {
        display: flex; } }
    .footer__right a {
      color: #344266;
      opacity: 0.95;
      font-size: 14px; }
      .footer__right a img {
        height: 1.2em;
        width: auto;
        margin: 0 auto;
        margin-right: 2rem;
        margin-bottom: 1rem; }
      .footer__right a:hover {
        opacity: 1;
        transform: scale(1.1); }
    .footer__right__links {
      margin-bottom: 3rem;
      font-size: 0.85em;
      font-weight: 700; }
      .footer__right__links--mail {
        color: #FF4E00 !important; }
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 6rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #ADBEC5; }
    @media (min-width: 800px) {
      .footer-top {
        margin-bottom: 2rem; } }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2rem; }
  .footer__left {
    justify-content: flex-start; }
  .footer-container {
    width: 90%;
    margin-top: 4rem; }
  .footer-menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    .footer-menu__title {
      margin-bottom: 1rem;
      font-size: 0.85em;
      font-weight: 700; }
    .footer-menu a {
      color: #344266;
      width: 25%; }
  .footer-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .footer ul {
    margin: 1rem 0; }
    .footer ul li {
      margin-right: 1rem; }
      .footer ul li a {
        font-weight: 400;
        letter-spacing: -0.05em; }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
  .footer-link {
    width: 10rem;
    margin-right: 2rem;
    text-align: left; }
  .footer-primary {
    flex: 2 !important; }
  .footer-secondary {
    flex: 1; }
  .footer-text {
    margin-top: 30px;
    font-size: 18px;
    text-align: left;
    color: #344266;
    line-height: 1.8rem; }
  @media (min-width: 800px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto; }
      .footer__wrapper {
        flex-direction: row; }
      .footer__left {
        margin-bottom: 6rem;
        justify-content: flex-start; }
      .footer-top {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; }
      .footer-bottom {
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      .footer-menu {
        margin-top: 2rem;
        margin-left: 4rem; }
      .footer-link {
        width: 10rem; } }
  .footer::after {
    display: none; }
    @media (min-width: 800px) {
      .footer::after {
        content: "";
        background-image: url(../assets/img/monogram.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
        display: inline-block;
        left: 0;
        width: 270px;
        height: 100%;
        position: fixed; } }

.cta-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: 0;
  padding: 3rem 0;
  padding-bottom: 0;
  margin-bottom: 4rem; }
  .cta-footer__wrapper {
    width: 80%;
    border-bottom: none; }
    .cta-footer__wrapper h2, .cta-footer__wrapper h6 {
      color: #344266; }
    .cta-footer__wrapper h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      line-height: 2.625rem;
      font-size: 1.5rem;
      letter-spacing: -0.01em; }
  @media (min-width: 800px) {
    .cta-footer {
      flex-direction: row;
      justify-content: center;
      background: linear-gradient(99.09deg, #03D9C9 0%, #0A4fFF 106.36%);
      margin-bottom: 4rem; }
      .cta-footer__wrapper {
        padding-bottom: 4rem;
        border-bottom: 1px solid #344266; }
        .cta-footer__wrapper h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 1.875rem;
          letter-spacing: -0.01em; } }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button {
  width: 200px;
  height: 60px;
  align-items: center; }

.hero-cta__start {
  text-align: left !important;
  -webkit-clip-path: polygon(100% 0, 100% 71%, 91% 100%, 0 99%, 0 0);
  clip-path: polygon(100% 0, 100% 71%, 91% 100%, 0 99%, 0 0);
  transition: all 0.35s ease;
  letter-spacing: -0.0085em;
  font-size: 1.25rem;
  margin-bottom: 4em; }
  .hero-cta__start:hover {
    color: black !important;
    background: white !important;
    transition: all 0.1s ease; }

.hero-cta__how {
  text-align: left !important;
  transition: all 0.35s ease;
  letter-spacing: -0.0085em;
  font-size: 1.25rem;
  margin-bottom: 4em; }
  .hero-cta__how:hover {
    color: black !important;
    background: white !important;
    transition: all 0.1s ease; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes MoveUpDown {
  0% {
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px); }
  50% {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px); }
  100% {
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px); } }

html, body {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: 0; }
  @media (min-width: 800px) {
    html, body {
      background: 0;
      font-size: 16px; } }

.brands {
  display: flex; }
  .brands__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.works {
  height: 100%; }
  .works-card {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh; }
    .works-card__description, .works-card__media {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: flex-start; }
    .works-card__description {
      padding: 6.25rem 0;
      display: flex; }
    .works-card__brief {
      max-width: 20rem;
      font-style: normal;
      font-weight: normal;
      line-height: 2.375rem;
      font-size: 1.25rem;
      letter-spacing: -0.005em;
      text-align: left;
      color: #344266;
      display: flex;
      flex: 5; }
    .works-card__title {
      display: flex;
      flex: 2; }
      .works-card__title--create {
        color: #A30DFF; }
      .works-card__title--distribute {
        color: #006DFF; }
      .works-card__title--analyse {
        color: #4FDA76; }
    .works-card__link {
      display: flex;
      flex: 1;
      padding-bottom: 1rem; }
      .works-card__link--create {
        color: #A30DFF;
        border-color: #A30DFF; }
        .works-card__link--create i {
          background-image: url("../assets/img/icons/arrow-vi.svg"), none; }
      .works-card__link--distribute {
        color: #006DFF;
        border-color: #006DFF; }
        .works-card__link--distribute i {
          background-image: url("../assets/img/icons/arrow-bl.svg"), none; }
      .works-card__link--analyse {
        color: #4FDA76;
        border-color: #4FDA76; }
        .works-card__link--analyse i {
          background-image: url("../assets/img/icons/arrow-em.svg"), none; }
  @media (min-width: 800px) {
    .works-card {
      flex-direction: row; }
      .works-card__description {
        padding: 15.625rem 0; } }

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
  background: 0;
  width: 100%;
  background: linear-gradient(135.41deg, #FF4E00 0%, #FF004D 100%);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: -2;
  z-index: 1;
  overflow: hidden; }
  .hero::after {
    display: none; }
  .hero__right {
    max-width: 80%; }
  .hero__left {
    padding-bottom: 4rem;
    max-width: 80%; }
    .hero__left h1,
    .hero__left h4 {
      text-align: left;
      color: white; }
    .hero__left h1 {
      font-size: 2.75rem; }
    .hero__left h4 {
      font-size: 1.25rem;
      max-width: 100%; }
    .hero__left__highlight {
      color: #FFF33B; }
  .hero-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
  .hero-cta {
    display: flex; }
    .hero-cta__start {
      background-color: #FFF33B;
      color: #140C42;
      border-bottom-right-radius: 20px; }
    .hero-cta__how {
      margin-left: 1.6rem !important;
      background-color: white;
      color: #FF4E00; }
  .hero__media {
    max-height: 3rem; }
  .hero-quote {
    margin-top: 2.4rem; }
  @media (min-width: 800px) {
    .hero {
      height: 100%;
      padding-top: 6rem;
      justify-content: center; }
      .hero::after {
        content: '';
        background: url("../assets/img/fanbytes-f-overlay.png");
        background-size: contain;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right;
        display: block;
        height: 100%;
        width: 100%;
        opacity: 1;
        position: fixed;
        z-index: -1;
        top: 0; }
      .hero__left {
        padding-top: 4rem;
        padding-bottom: 0rem;
        max-width: 85%; }
        .hero__left h1,
        .hero__left h4 {
          text-align: left; }
      .hero-wrapper {
        flex-direction: row;
        align-items: center;
        width: 100%; } }
  @media (min-width: 1550px) {
    .hero__left h1 {
      font-size: 2.8rem; } }

.about {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135.41deg, #FF4E00 0%, #FF004D 100%); }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about__content h2, .about__content h5, .about__content a {
      color: white; }
    .about__content a {
      padding-bottom: 0.75rem;
      opacity: 0.75;
      border-bottom: 0.5px solid white;
      transition: all 0.2s ease; }
      .about__content a:hover {
        opacity: 1;
        border-bottom: 1px solid white;
        transition: all 0.2s ease; }
  .about video {
    margin: 2rem auto;
    border: 1px solid white;
    border-right: 2px solid white;
    box-shadow: 0px 16px 40px rgba(16, 71, 122, 0.25);
    width: 90%; }
    .about video:hover {
      cursor: pointer; }
  @media (min-width: 800px) {
    .about {
      max-width: 100%;
      overflow: hidden; }
      .about video {
        width: 70%; } }

.how h5 {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem; }

.how__content {
  justify-content: center; }

.how img {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.075); }

.features {
  background: linear-gradient(115.54deg, #03D9C9 0%, #0A4FFF 108.68%);
  color: white; }
  .features-wrapper {
    width: 80%; }
  .features h2, .features h3, .features h6, .features h5 {
    color: white; }
  .features h5 {
    max-width: 50%;
    margin: 0 auto; }
  .features img {
    height: 24rem;
    box-shadow: none; }

.cta {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center; }
  .cta:hover {
    color: white;
    background: #FF4E00;
    box-shadow: none; }
  .cta a {
    margin-left: 0;
    margin-right: 2em;
    text-align: center; }
  @media (min-width: 800px) {
    .cta {
      margin: 0;
      margin-top: 2rem;
      flex-direction: row; } }

.padding-1 {
  padding: 0 1rem; }

.how__cards, .features__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.how__card, .features__card {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem; }
  .how__card__text, .features__card__text {
    max-width: 85%;
    margin: 0 auto; }

.how h2, .how h5, .features h2, .features h5 {
  text-align: center; }

@media (min-width: 800px) {
  .how, .features {
    max-width: 100%;
    overflow: hidden; }
    .how__cards, .features__cards {
      flex-direction: row; }
    .how__card, .features__card {
      max-width: 30%; } }

.book-signup {
  background: linear-gradient(135.41deg, #FF4E00 0%, #FF004D 100%);
  padding: 4rem 0; }
  .book-signup__content, .book-signup__image {
    display: flex; }
    .book-signup__content img, .book-signup__image img {
      max-height: 25rem;
      margin: 0;
      margin-right: 4rem;
      animation: MoveUpDown 4.5s ease infinite; }
  .book-signup__content {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 800px) {
      .book-signup__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left; } }
  .book-signup__image {
    display: flex;
    justify-content: center; }
    @media (min-width: 800px) {
      .book-signup__image {
        justify-content: flex-end; } }
  .book-signup__title {
    font-style: normal;
    font-weight: bold;
    line-height: 2.6875rem;
    font-size: 1.875rem;
    color: white;
    margin-bottom: 1.5rem; }
  .book-signup__brief, .book-signup__nospam {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1rem;
    color: white;
    margin-bottom: 0.25rem; }
  .book-signup__form {
    display: flex;
    margin: 0.5rem 0;
    margin-top: 2rem; }
    .book-signup__form input[type="email"] {
      padding: 0.75rem 1rem;
      outline: none;
      border: none; }
    .book-signup__form input[type="submit"] {
      padding: 0.75rem 1rem;
      outline: none;
      border: none;
      background: black;
      color: white; }

.testimonials__cards {
  flex-direction: row; }

.testimonials__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  background: #FFFFFF;
  padding: 2rem 1rem;
  box-shadow: 0px 32px 30px rgba(0, 0, 0, 0.025);
  border-radius: 2px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 2.5rem; }
  .testimonials__card img {
    height: auto;
    width: 15%;
    box-shadow: none; }
  @media (min-width: 800px) {
    .testimonials__card {
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 0rem;
      max-width: 30%; }
      .testimonials__card__text {
        width: 55%;
        margin: 1rem 2rem;
        margin-bottom: 5rem; } }

.testimonials__quote {
  font-weight: bold;
  line-height: 1.6875rem;
  font-size: 1.125rem;
  text-align: left;
  letter-spacing: 0.01em;
  color: #152859;
  flex: 3; }

.testimonials__details {
  text-align: left;
  flex: 1; }

.testimonials__person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  flex: 1;
  margin: 2rem auto; }
  .testimonials__person img {
    border-radius: 50px;
    height: auto;
    width: 3rem;
    margin: 0;
    margin-right: 1rem; }

.testimonials__brand {
  flex: 1;
  border-top: 1px solid #fafafa;
  padding-top: 2rem; }
  .testimonials__brand img {
    width: auto;
    max-height: 2rem;
    margin: 0; }

.news {
  background: #FAFAFA;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  display: flex; }
  .news__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .news__card {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    background: white;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
    margin: 1rem 0rem;
    flex-grow: 1; }
    .news__card img {
      margin: 0;
      height: auto;
      width: auto;
      max-width: 6rem;
      padding: 2rem 0;
      border-top: 1px solid #fafafa; }
  .news__text {
    font-style: normal;
    font-weight: normal;
    line-height: 2.25rem;
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: -0.006em;
    padding: 2rem 0; }

.case-studies {
  text-align: center;
  background: #140C42; }
  .case-studies h2, .case-studies h5 {
    color: white;
    text-align: center; }
  .case-studies__card {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
    margin: 1rem 0.5rem;
    max-width: 100%;
    background: white; }
    .case-studies__card img {
      margin: 0;
      height: auto;
      width: auto; }
  .case-studies__media {
    display: flex;
    flex: 2;
    max-height: 14rem; }
    .case-studies__media img {
      width: 100%;
      height: 100%; }
  .case-studies__text {
    display: flex;
    flex: 2;
    font-style: normal;
    font-weight: normal;
    line-height: 2.25rem;
    font-size: 1.25rem;
    text-align: left;
    letter-spacing: -0.006em;
    padding: 1rem 1rem;
    margin-top: 0rem; }
  .case-studies__brand {
    display: flex;
    flex: 1;
    border-top: 1px solid #fafafa;
    padding: 2rem 0;
    max-width: 6rem;
    padding: 1rem 1rem; }
    .case-studies__brand img {
      width: 100%;
      height: 100%; }

.blog {
  background: rgba(255, 78, 0, 0.02);
  text-align: center; }
  .blog h2, .blog h5 {
    text-align: center; }
  .blog__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; }
  .blog__card {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
    margin: 2rem 1rem;
    max-width: 85%;
    background: white;
    flex: 1; }
    .blog__card img {
      margin: 0;
      height: auto;
      width: auto; }
    .blog__card--featured {
      position: relative;
      color: white;
      justify-content: flex-end;
      min-height: 30rem; }
      .blog__card--featured .blog__title {
        flex: initial;
        margin-bottom: 1rem; }
      .blog__card--featured .blog__media__image {
        width: auto;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1; }
      .blog__card--featured:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(360deg, #000000 0%, transparent 44.06%);
        opacity: .6; }
  .blog__media {
    display: flex;
    flex: 2;
    max-height: 14rem; }
    .blog__media img {
      width: 100%;
      height: 100%; }
  .blog__title {
    display: flex;
    flex: 2;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    font-size: 1.25rem;
    text-align: left;
    letter-spacing: -0.006em;
    padding: 0rem 1rem;
    padding-top: 1rem;
    margin-top: 0rem; }
  .blog__blurb {
    display: flex;
    flex: 2;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: left;
    letter-spacing: -0.006em;
    padding: 1rem 1rem;
    padding-top: 0rem;
    margin-top: 0rem;
    color: #7D849E; }
  .blog .read-more {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
    background: linear-gradient(135.41deg, #FF4E00 0%, #FF004D 100%);
    width: 100%;
    z-index: 2;
    padding: 1.5rem;
    transition: all .2s ease;
    left: 0; }
    .blog .read-more img {
      margin: 0 1rem;
      max-height: 0.875rem; }
    .blog .read-more:hover {
      color: white !important; }
  .blog__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 5%;
    margin: 0 auto;
    border-top: 1px solid rgba(129, 146, 153, 0.1); }
    .blog__author:hover {
      cursor: pointer; }
    .blog__author:hover > .read-more {
      display: flex;
      transition: all .2s ease; }
    .blog__author__details {
      display: flex;
      align-items: center; }
  .blog__image {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    max-width: 3rem;
    padding: 1rem 1rem;
    padding-left: 0;
    border-radius: 100px; }
    .blog__image img {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 100px; }
  @media (min-width: 800px) {
    .blog__cards {
      flex-direction: row;
      align-items: initial; } }

section {
  padding: 4rem 0;
  overflow-y: hidden; }

.mobile-col {
  justify-content: center; }
  .mobile-col__vid {
    background-image: url(../assets/img/iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .mobile-col__vid video {
      text-align: center;
      top: -1.25rem;
      margin-top: -3.125rem; }
  @media (min-width: 800px) {
    .mobile-col {
      display: flex;
      justify-content: flex-end !important; }
      .mobile-col__vid {
        background-position: right !important;
        justify-content: flex-end;
        align-items: center;
        width: 100%; }
        .mobile-col__vid video {
          margin-top: -3.125rem;
          margin-right: 1.5625rem; } }

.mobile-col__vid video {
  text-align: center;
  width: 185px;
  /* left: 20px; */ }

.contact {
  background: #1F06A9;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .contact h2, .contact h5 {
    text-align: center;
    color: white; }
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    height: 100%; }
  .contact__title {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .contact__typeform {
    display: flex;
    flex-direction: column;
    flex: 4; }
  .contact__link {
    display: flex;
    flex-direction: column;
    flex: 1; }
  .contact:after {
    content: '';
    background: url("../assets/img/contact_ellipse.png") left no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
    position: absolute;
    top: -50px;
    left: -100px; }
  .contact:before {
    content: '';
    background: url("../assets/img/contact_ellipse.png") left no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: -50px;
    right: -300px;
    opacity: 0.5; }
