html,body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	background: 0;
	// overflow-x: hidden;
	@include respond-to('medium') {
		background: 0;
		font-size: 16px;
	}
}
.brands {
	display: flex;

	&__image {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
.works {
	height: 100%;

	&-card {
		display: flex;
		flex-direction: column-reverse;
		height: 100vh;
		&__description,
		&__media {
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: center;
			align-items: flex-start;
		}
		&__description {
			padding: rem(100px) 0;
			display: flex;
		}
		&__brief {
			max-width: 20rem;
			font-style: normal;
			font-weight: normal;
			line-height: rem(38px);
			font-size: rem(20px);
			letter-spacing: -0.005em;
			text-align: left;
			color: #344266;
			display: flex;
			flex: 5;
		}
		&__title {
			display: flex;
			flex: 2;

			&--create {
				color: $Electric-Violet;
			}
			&--distribute {
				color: $Blue-Ribbon;
			}
			&--analyse {
				color: $Emerald;
			}
		}
		&__link {
			display: flex;
			flex: 1;

			padding-bottom: 1rem;
			&--create {
				color: $Electric-Violet;
				border-color: $Electric-Violet;
				i {
					background-image: url('../assets/img/icons/arrow-vi.svg'), none;
				}
			}
			&--distribute {
				color: $Blue-Ribbon;
				border-color: $Blue-Ribbon;
				i {
					background-image: url('../assets/img/icons/arrow-bl.svg'), none;
				}
			}
			&--analyse {
				color: $Emerald;
				border-color: $Emerald;
				i {
					background-image: url('../assets/img/icons/arrow-em.svg'), none;
				}
			}
		}
	}

	@include respond-to('medium') {
		&-card {
			flex-direction: row;
			&__description {
				padding: rem(250px) 0;
			}
		}
	}
}

.homepage {

	.hero {
	display: flex;
	flex-direction:  column;
	padding-top: 7rem;
	justify-content: center;
	align-items: center;
	background: 0;
	width: 100%;
	background: $hero-gradient;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	z-index: -2;
	z-index: 1;
	overflow: hidden;
	&::after {
		display: none;
	}
	&__center {
		padding-top: 14rem;
		max-width: 80%;
		h1,
		h4 {
			text-align: left;
			color: white;
		}
		h1 {
			font-size: 2.75rem;
		}
		h4 {
			font-size: 1.25rem;
			max-width: 100%;
		}
		&__highlight {
			color: $Golden-Fizz;
		}
		&__images {
			margin-top: 10%;
			min-height: 580px;
			&__content {
				position: relative;
				height: 100%;
				.cta-main-video-play {
					.play-btn::hover {
							.play-btn__icon {
								background: $International-Orange;
							}
							.play-btn__bg-1 {
								background: $International-Orange;
							}
							.play-btn__bg-2 {
								background: $International-Orange;
							}
						}
					}				
				}
				.play-btn {
					position: absolute;
					top: 25%;
					margin: 0 auto;
					left: 35%;
					z-index: 4;
					height: 250px;
					width: 250px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					&__icon {
						position: absolute;
						background: $Violet;
						height: 100px;
						width: 100px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding-left: 0.5rem;
						z-index: 6;
						border-radius: 150px;
						box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
					}
					&__bg-1 {
						position: absolute;
						background: $Violet;
						height: 125px;
						width: 125px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding-left: 0.5rem;
						z-index: 4;
						border-radius: 150px;
						background: rgba(20, 12, 66, 0.5);
						box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
						box-sizing: border-box;
						animation: SmallCircleScale 4.5s ease infinite;
					}
					&__bg-2 {
						position: absolute;
						background: $Violet;
						height: 150px;
						width: 150px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding-left: 0.5rem;
						z-index: 4;
						border-radius: 150px;
						background: rgba(20, 12, 66, 0);
						border: 1px solid rgba(20, 12, 66, 0.25);
						box-sizing: border-box;
						animation: CircleScale 4.5s ease infinite;
					}
				}
				.laptop {

					position: relative;
					margin: 0 auto;
				}
				.visits-card {
					position: absolute;
					left: 0;
					top: 20%;
					width: 25%;
				}
				.mobile {
					position: absolute;
					right: -5%;
					top: 10%;
					width: 35%;
					transform: scale(0.7);
				}
			}

		}

	&-wrapper {
		z-index: 2;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}
	&-cta {
		display: flex;
		&__start {
			background-color: $Golden-Fizz;
			color: $Violet;
			border-bottom-right-radius: 20px;
		}
		&__how {
			margin-left: 1.6rem !important;
			background-color: white;
			color: $International-Orange;
		}
	}
	&__media {
		max-height: 3rem;
	}
	&-quote {
		margin-top: 2.4rem;
	}

	@include respond-to('medium') {
		min-height: 100%;
		padding-top: 6rem;
		justify-content: center;
		&::before {
			content: '';
			background: url('../assets/img/hero/hero-bg-overlay.png');
			background-size: contain;
			overflow: hidden;
	  		background-repeat: no-repeat;
	  		background-position: top right;
			display: block;
			height: 100%;
			width: 100%;
			opacity: 1;
			position: fixed;
			z-index: -1;
			top:0;
			right: 0;
		}
		&::after {
			content: '';
			background: url('../assets/img/fanbytes-f-overlay.png');
			background-size: contain;
			overflow: hidden;
	  		background-repeat: no-repeat;
	  		background-position: top right;
			display: block;
			height: 100%;
			width: 60%;
			opacity: 1;
			position: fixed;
			z-index: -1;
			top:0;
			right: 0;
		}
		&__center {
			padding-top: 6rem;
			padding-bottom: 0rem;
			max-width: 85%;
			h1,
			h4 {
				text-align: center;
			}
			h1 {
				font-style: normal;
				font-weight: bold;
				line-height: 52px;
				font-size: 36px;
				text-align: center;
				color: #FFFFFF;
			}
			h4 {
				font-style: normal;
				font-weight: normal;
				line-height: 29px;
				font-size: 18px;
				text-align: center;
				color: #FFFFFF;
			}
			img {
				margin: 0 auto;
			}

		}
		&-cta {
			justify-content: center;
			a {
				transform: scale(0.85);
				border-radius: 2px;
			}

		}
		&-wrapper {
			flex-direction: row;
			align-items : center;
			width: 100%;
		}
	}
	@include respond-to('xhuge') {
		&__left {
			h1 {
				font-size: 2.8rem;
			}
		}
	}
}
	}

.about {
	display: flex;
	flex-direction: column;
	background: $primary-gradient;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2, h5, a{
			color: white;
		}
		a {
			padding-bottom: 0.75rem;
			opacity: 0.75;
			border-bottom: 0.5px solid white;
			transition: all 0.2s ease;
			&:hover {
				opacity: 1;
				border-bottom: 1px solid white;
				transition: all 0.2s ease;
			}
		}
	}
	video {
		margin: 2rem auto;
		border: 1px solid white;
		border-right: 2px solid white;
		box-shadow: 0px 16px 40px rgba(16, 71, 122, 0.25);
		width: 90%;
		&:hover {
			cursor: pointer;
		}
	}
  	@include respond-to('medium') {
	  	max-width: 100%;
		overflow: hidden;
		video {
			width: 70%;
		}
  	}
}

.how {
	h5 {
		max-width: 60%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	&__content {
		justify-content: center;
	}
	img {
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.075);
	}
}

.features {
	background: linear-gradient(115.54deg, #03D9C9 0%, #0A4FFF 108.68%);
	color: white;
	&-wrapper {
		width: 80%;
	}
	h2,h3,h6,h5 {
		color: white;
	}
	h5 {
		max-width: 50%;
		margin: 0 auto;
	}
	img {
		height: 24rem;
		box-shadow: none;
	}
}
.cta {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 2em;
	justify-content: center;
	&:hover {
		color: white;
		background: $primary-color;
		box-shadow: none;
	}
	a {
		margin-left: 0;
		margin-right: 2em;
		text-align: center;
	}
	@include respond-to('medium') {
		margin: 0;
		margin-top: 2rem;
		flex-direction: row;
	}	
}



.padding-1 {
	padding: 0 1rem;
}

.how, .features {

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__card {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 6rem;
		&__text {
			max-width: 85%;
			margin: 0 auto;
		}
	}
	h2,h5 {
		text-align: center;
	}
  	@include respond-to('medium') {
	  	max-width: 100%;
		overflow: hidden;
		&__cards {
			flex-direction: row;
		}
	    &__card {
	      max-width: 30%;
	    }
  	}
}

.book-signup {
	background: $primary-gradient;
	padding: rem(64px) 0;
	&__content,
	&__image {
		display: flex;
		
		img {
			max-height: rem(400px);
			margin: 0;
			margin-right: 4rem;
			animation: MoveUpDown 4.5s ease infinite;

		}
	}
	&__content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		@include respond-to('medium') {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			text-align: left;
		}
	}
	&__image {
		display: flex;
		justify-content: center;
		
		@include respond-to('medium') {
			justify-content: center;
		}
		
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		line-height: rem(43px);
		font-size: rem(30px);
		color: white;
		margin-bottom: 1.5rem;
	}
	&__brief, &__nospam {
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: rem(16px);
		color: white;
		margin-bottom: 0.25rem;
	}
	&__form {
		display: flex;
		margin: 0.5rem 0;
		margin-top: 2rem;
		input[type="email"] {
			padding: 0.75rem 1rem;
			outline: none;
			border: none;
		}
		input[type="submit"] {
			padding: 0.75rem 1rem;
			outline: none;
			border: none;
			background: black;
			color: white;
		}
	}
}

.testimonials {
	&__cards {
		flex-direction: row;
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: space-between;
		background: #FFFFFF;
		box-shadow: 0px 32px 30px rgba(0, 0, 0, 0.025);
		border-radius: 2px;
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 2rem 2.5rem;
		padding-bottom: 0.5rem;
		img {
			height: auto;
			width: 15%;
			box-shadow: none;
		}	

		@include respond-to('medium') {
			flex-direction: column;
			
			margin: 0 auto;
			margin-bottom: 0rem;
			max-width: 30%;
			&__text {
				width: 55%;
				margin: 1rem 2rem ;
				margin-bottom: 5rem;
			}
		}	
	}
	&__quote {
		font-weight: bold;
		line-height: rem(27px);
		font-size: rem(18px);
		text-align: left;
		letter-spacing: 0.01em;
		color: #152859;
		flex: 3;
	}
	&__details {
		text-align: left;
		flex: 1;
		.name {
			font-weight: 700;
		}
	}
	&__person {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		line-height: 1.5rem;
		flex: 1;
		margin: 2rem auto;
		img {
			border-radius: 50px;
			height: auto;
			width: 3rem;
			margin: 0;
			margin-right: 1rem;

		}
	}
	&__brand {
		flex: 1;
		border-top: 1px solid #fafafa;
		padding-top: 2rem;
		img {
			width: auto;
			max-height: 2rem;
			margin: 0;
		}
	}
	&__company {
		border-top: 1px solid rgba(20, 12, 66, 0.1);;
		img {
			min-height: 20px;
		    	width: 50% !important;
		    	margin: 0;
		    	padding: 0;
		}
	}
}

.news {
	background: #FAFAFA;
	text-align: center;
	display: flex;
	flex-wrap:wrap;
	display: flex;
	&__cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1;
	}
	&__card {
		display: flex;
		flex-direction: column;
		padding: 0rem 2rem;
		background: white;
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
		margin: 1rem 0rem;
		flex-grow: 1;
		img {
			margin: 0;
			height: auto;
			width: auto;
			max-width: 6rem;
			padding: 2rem 0;
		}
		&__content {
			display: flex;
			flex: 1;
			min-width: 75%;
		}
	}
	&__text {
		font-style: normal;
		font-weight: normal;
		line-height: rem(36px);
		font-size: rem(24px);
		text-align: left;
		letter-spacing: -0.006em;
		padding: 2rem 0;
		flex: 3;
	}
	&__media {
		flex: 1;
		border-top: 1px solid #fafafa;
		img {
			max-height: 90px;
		}
	}
	@include respond-to('medium') {
		&__card {
			&__content {
				min-width: 50%;
			}
		}
	}
	@include respond-to('large') {
		&__card {
			&__content {
				min-width: 33%;
			}
		}
	}
}

.case-studies {
	text-align: center;
	background: $Violet;
	h2,h5 {
		color: white;
		text-align: center;
	}
	&__card {
		display: flex;
		flex-direction: column;
		padding: 0rem;
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
		margin: 1rem 0.5rem;
		max-width: 100%;
		background: white;
		img {
			margin: 0;
			height: auto;
			width: auto;
		}
	}
	&__media {
		display: flex;
		flex: 2;
		max-height: 14rem;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__text {
		display: flex;
		flex: 3;
		font-style: normal;
		font-weight: normal;
		line-height: rem(36px);
		font-size: rem(20px);
		text-align: left;
		letter-spacing: -0.006em;
		padding: 1rem 1rem;
		margin-top: 0rem;
	}
	&__brand {
		display: flex;
		flex: 1;
		border-top: 1px solid #fafafa;
		padding: 0rem 1rem;
		img {
			width: 100%;
			height: 100%;
			max-width: 30%;
		}
	}
}

.blog {
	background: rgba($International-Orange, 0.02);
	text-align: center;
	
	h2,h5 {
		text-align: center;
	}
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}
	&__card {
		display: flex;
		flex-direction: column;
		padding: 0rem;
		box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.025);
		margin: 2rem 1rem;
		max-width: 85%;
		background: white;
		flex: 1;
		img {
			margin: 0;
			height: auto;
			width: auto;
		}
		&--featured {
			position: relative;
			color: white;
			justify-content: flex-end;
			min-height: 30rem;
			.blog__title {
				flex: initial;
				margin-bottom: 1rem;
			}
			.blog__media__image {
				width: auto;
				height: 100%;
				object-fit: cover;
				position: absolute;
				z-index: -1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 44.06%);
				opacity: .6; 
			}
		}
	}
	&__media {
		display: flex;
		flex: 2;
		max-height: 14rem;

		img {
			width: 100%;
			height: 100%;

		}
	}
	&__title {
		display: flex;
		flex: 2;
		font-style: normal;
		font-weight: 700;
		line-height: rem(30px);
		font-size: rem(20px);
		text-align: left;
		letter-spacing: -0.006em;
		padding: 0rem 1rem;
		padding-top: 1rem;
		margin-top: 0rem;
	}
	&__blurb {
		display: flex;
		flex: 2;
		font-style: normal;
		font-weight: normal;
		line-height: rem(24px);
		font-size: rem(16px);
		text-align: left;
		letter-spacing: -0.006em;
		padding: 1rem 1rem;
		padding-top: 0rem;
		margin-top: 0rem;
		color: #7D849E;
	}
	.read-more {
		display: none;
		justify-content: center;
		align-items: center;
		color: white;
		position: absolute;
		bottom: 0;
		background: $primary-gradient;
		width: 100%;
		z-index: 2;
		padding: 1.5rem;
		transition: all .2s ease;
		left: 0;
		img {
			margin: 0 1rem;
			max-height: rem(14px);
		}
		&:hover {
			color: white !important;
		}
	}
	&__author {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0.5rem 5%;
		margin: 0 auto;
		border-top: 1px solid rgba($Lightest-Grey,0.1);
		&:hover {
			cursor: pointer;
		}
		&:hover > .read-more {
				display: flex;
				transition: all .2s ease;
			}
		&__details {
			display: flex;
			align-items: center;
		}
	}
	&__image {
		display: flex;
		flex: 1;
		padding: 2rem 0;
		max-width: 3rem;
		padding: 1rem 1rem;
		padding-left: 0;
		border-radius: 100px;
		img {
			width: 100%;
			height: 100%;
			margin: 0;
			border-radius: 100px;
		}
	}
	@include respond-to('medium') {
		&__cards {
			flex-direction: row;
			align-items: initial;
		}
	}	
}
section {
	padding: rem(64px) 0;
	overflow-y:hidden;
}
.mobile-col {
	justify-content: center;
	&__vid {
	    background-image: url(../assets/img/iphone.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    height: 480px;
	    position: relative;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: row;
		video {
			text-align: center;		
			top: rem(-20px);
			margin-top: rem(-50px);
		}
	}
	@include respond-to('medium') {
		display: flex;
		justify-content: flex-end !important;
		&__vid {
			background-position: right !important;
		    justify-content: flex-end;
	    	align-items: center;
			width: 100%;
			video {
				margin-top: rem(-50px);
				margin-right: rem(25px);
			}
		}
	}
}

.mobile-col__vid video {
    
    text-align: center;
    width: 185px;
    /* left: 20px; */
}
.contact {
	background: $Ultramarine;
	height: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	h2,h5 {
		text-align: center;
		color: white;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-between;
		height: 100%;
	}
	&__title {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	&__typeform {
		display: flex;
		flex-direction: column;
		flex: 4;
	}
	&__link {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	&:after {
		content: '';
		background: url('../assets/img/contact_ellipse.png') left no-repeat;
		background-size: contain;
		width: 50%;
		height: 50%;
		position: absolute;
		top: -50px;
		left: -100px;
	}
	&:before {
		content: '';
		background: url('../assets/img/contact_ellipse.png') left no-repeat;
		background-size: contain;
		width: 30%;
		height: 30%;
		position: absolute;
		bottom: -50px;
		right: -300px;
		opacity: 0.5;
	}
}

