
// ----------- Variable Rules  ----------- //

// use !default to definte any variable so that anyonce can overwrite it. 
// $baseline: 1em !default;
// // Developer’s own variable
// $baseline: 2em;

// Your library declaring `$baseline`
// @import 'your-library';

// $baseline == 2em;


// ----------- Breakpoints  ----------- //

// breakpoint variables : you can add more as necessary
// we'll go mobile first as much as possible.

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
  'xhuge': (min-width: 1550px),
);


/*------------------------------------*\
    #UTILS - Color Variables
\*------------------------------------*/

// Primary Colors
$International-Orange: #FF4E00;
$Ultramarine: #1F06A9;
$Torch-Red: #FF004D;

// Secondary Colors
$Heather: #ADBEC5;
$Light-Slate-Grey: #7D849E;
$Lightest-Grey: #819299;
$Bay-Of-Many: #344266;
$Violet: #140C42;
$Blue-Ribbon: #006DFF;
$Electric-Violet: #A30DFF;
$Golden-Fizz: #FFF33B;
$Emerald: #4FDA76;

// Gradients
$primary-gradient: linear-gradient(135.41deg, #FF4E00 0%, #FF004D 100%);
$secondary-gradient:  linear-gradient(224.59deg, #FF004D 0%, #FF4E00 100%);
$hero-gradient: linear-gradient(358.32deg, rgba(255, 0, 138, 0) 6.58%, #FF4E00 67.94%);


$primary-color: $International-Orange;
$dark-bg:				$Violet;
$light-bg: 		white;

